.product__title {
    color: rgb(27,30,72);
    margin: 0 1rem;
}

@media screen and (min-width: 0) {
    .product__title {
        font-size: 2.6rem;
    }
}

@media screen and (min-width: 992px) {
    .product__title {
        font-size: 3rem;
    }
}