.product-container {
    position: relative;
}

@media screen and (min-width: 0) {
    .product-container {
        display: block;
        height: 25rem;
    }
}

@media screen and (min-width: 770px) {
    .product-container {
        display: inline-block;
        height: 75vh;
        width: 45%;
    }
}
