.product__btn {
    background-color: rgb(255,72,121);
    border: none;
    border-radius: 0.5rem;
    box-shadow: 5px 5px #2c2b2b;
    color: rgb(255, 255, 255);
    font-family: Ubuntu, sans-serif;
    font-size: 1.02rem;
    margin: 1rem 1rem;
    padding: 0.6rem;
    transition: 0.04s;
}

.product__btn:hover {
    cursor: pointer;
}

.product__btn:active {
    box-shadow: none;
    transform: translateX(2px) translateY(2px);
}