.sidebar__item {
    border-radius: 0.4rem;
    color:rgb(0, 0, 0);
    display: none;
    font-family: Mulish, sans-serif;
    font-size: 1.06rem;
    line-height: 1.5rem;
    margin: 2rem 0 2rem 2rem;
    padding: 1.5px;
    transition: 0.15s;
    text-align: left;
    text-decoration: none;
    width: fit-content;
}

.sidebar__item:hover {
    background-color: rgb(193, 189, 189);
}

.sidebar__item:active {
    background-color: rgb(149, 145, 145);
}
