.nav {
    display: inline-block;
}

@media screen and (min-width: 0) {
    .nav {
        margin-top: 0.5rem;
        position: relative;
    }
}

@media screen and (min-width: 430px) {
    .nav {
        margin-top: 0.5rem;
        position: absolute;
        right: 0;
    }
}

@media screen and (min-width: 992px) {
    .nav {
        margin-top: 1rem;
        position: absolute;
        right: 5%;
    }
}