.nav__link {
    border-radius: 0.5rem;
    color: #2c2b2b;
    font-family: Mulish, sans-serif;
    padding: 0 5px;
    text-decoration: none;
    transition: 0.15s;
}

.nav__link:hover {
    background-color: rgb(244, 239, 239);
}

.nav__link:active {
    background-color: rgb(177, 181, 177);
}

@media screen and (min-width: 0) {
    .nav__link {
        font-size: 0.75rem;
    }
}

@media screen and (min-width: 992px) {
    .nav__link {
        font-size: 1.06rem;
    }
}