header {
    margin-bottom: 1rem;
    position: relative;
}

.openbtn {
    border-radius: 0.4rem;
    padding: 0.25rem;
    transition: 0.15s;
    vertical-align: top;
}

.openbtn:hover {
    background-color: rgb(244, 239, 239);
    cursor: pointer;
}

.openbtn:active {
    background-color: rgb(177, 181, 177);
}

@media screen and (min-width: 0) {
    header {
        padding: 0.25rem;
        text-align: center;
    }

    .openbtn {
        left: 1%;
        position: absolute;
        width: 2rem;
    }
}

@media screen and (min-width: 430px) {
    header {
        text-align: left;
    }

    .openbtn {
        position: static;
    }
}

@media screen and (min-width: 992px) {
    header {
        padding: 0.5rem;
        text-align: left;
    }

    .openbtn {
        width: 2.9rem;
    }
}
