header {
    margin-bottom: 1rem;
    position: relative;
}

.openbtn {
    border-radius: 0.4rem;
    padding: 0.25rem;
    transition: 0.15s;
    vertical-align: top;
    width: 2.9rem;
}

.openbtn:hover {
    background-color: rgb(244, 239, 239);
    cursor: pointer;
}

.openbtn:active {
    background-color: rgb(177, 181, 177);
}
